*{
    margin: 10px;
    padding: 0ex;
    box-sizing: border-box;

    body{
        font-family: sans-serif;
        font-size: 55px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
}

[class ^="row-"]{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

[class^="box-"]{
    background-color: #c4c4c4;
    width: (100%)/3;
    border: 2px solid black;
    height: (100vh)/3;

    display: grid;
    place-items: center;
}

@media (max-width: 650px){
    .container{}
    [class ^="row-"]{
        flex-direction: column;
    }

    [class ^="box-"]{
        width: 100%;
    }
}